/* styles.css */

body {
    background-color: #FBFCE4;    /* Set your desired background color */
}

/* #tab {
    padding: 10px;
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
} */
/* 
#tab:hover {
    background-color: #555;
}

#tabs {
    display: flex;
    justify-content: flex-end;
    height: 30px;
    vertical-align: top;
    margin-right: 30px;
    background-color: #FBFCE4;
}

#tabs-content {
    margin: 10px;
    background-color: #FBFCE4;
} */
/* 
#titulo {
    background-color: #FFFFF6;
}

[id^="figura"]{
        margin-right: 30px;
        margin-left: 130px;
        margin-top: 20px;
        margin-bottom: 20px;
}


#navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
} */

/* Home Tab  */


#div-home{
    margin-top: 50px;
}

.heading-left {
    /* display: inline-block; */
    /* margin-right: 500px;
    margin-left: 50px; */
    /* margin-top: 50px; */
}

.heading-right {
    /* display: inline-block; */
    /* margin-right: 50px;
    margin-left: 500px; */
    /* margin-top: 50px; */
}

/* 
.home-list {
    display: inline-block;
}  */

/* .home-list {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 50px;
} */
/* 
.home-list-left {
    margin-left: 50px;
    margin-right: 400px;

}

.home-list-right {
    margin-right: 50px;
    margin-left: 400px;
} */

/* Search Tab  */
#search-input {
    width: 100%;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-left: 50px;
    margin-top: 50px;
}