/* styles.css */
body {
    background-color: #FBFCE4;    /* Set your desired background color */
}

#tab {
    padding: 10px;
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
}

#tab:hover {
    background-color: #555;
}

#tabs {
    display: flex;
    justify-content: flex-end;
    height: 30px;
    vertical-align: top;
    margin-right: 30px;
    background-color: #FBFCE4;
}

#tabs-content {
    margin: 10px;
    background-color: #FBFCE4;
}

#titulo {
    background-color: #FFFFF6;
}

[id^="figura"]{
        margin-right: 30px;
        margin-left: 130px;
        margin-top: 20px;
        margin-bottom: 20px;
}


#navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}